<div class="navbar-inner">
<div class="container">
  <div class="navbar-form pull-right" ng-hide="auth.currentUser">
    <form class="navbar-form" ng-submit="signin(user)" ng-controller="SigninCtrl">
    <div class="alert alert-danger" ng-show="errorMessage">
                {{errorMessage}}
              </div>
      <input type="text" ng-model="user.username" placeholder="username" autofocus="" class="span2">
      <input type="password" ng-model="user.password" placeholder="password" class="span2">
      <button class="btn btn-primary">Sign In</button>
    </form>
    <form class="navbar-form" ng-submit="register(user)" ng-controller="RegisterCtrl">
        <div ng-show="errorMessage" class="alert alert-danger">
        <strong>Error:</strong> {{errorMessage}}
      </div>

      <div class="control-group">
        <label class="control-label" for="inputUsername">Username</label>
        <div class="controls">
          <input type="text" ng-model="user.username" id="inputUsername">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
          <input type="password" ng-model="user.password" id="inputPassword">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputPassword2">Password Again</label>
        <div class="controls">
          <input type="password" ng-model="user.passwordConfirm" id="inputPassword2">
        </div>
      </div>


      <div class="form-actions">
        <button class="btn btn-primary">Sign In</button>
      </div>
    </form>
  </div>
  <div ng-show="auth.currentUser">
      <div class="logout navbar-form pull-right">
        Signed in as <i><b>{{auth.currentUser.objectId}}</b></i>
        <button class="btn btn-primary" ng-click="signout()">Sign Out</button>
      </div>
          <div class="header">
      <h2>Todo</h2>
      <div class="logout navbar-form pull-right" ng-cotroller="AuthCtrl" ng-hide="auth.currentUser">
        Signed in as {{auth.currentUser.username}}
        <button class="btn btn-primary" ng-click="signout()">Sign Out</button>
      </div>
    </div>
    <div class="new-form" ng-controller="TodoCtrl">
      <form ng-submit="save()">
        <input type="text" ng-model="todoText" size="30" placeholder="add a todo">
        <input class="btn btn-primary" type="submit" value="add">
      </form>
    <div>
    [ <a href="" ng-click="destroy()">Archive</a> ]
      <ul>
        <li ng-repeat="todo in todos" ng-click="completeTodo($index)">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>
</div>